<ion-header>
  <ion-navbar>
    <ion-title>Buddies</ion-title>
  </ion-navbar>
  <ion-toolbar color='primary'>
    <ion-searchbar [(ngModel)]="searchText" (input)="search(searchText)" (ionClear)="onClear()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-list no-lines [virtualScroll]="buddies">
    <ion-item *virtualItem="let buddy"> -->
  <ion-list no-lines >
    <div *ngFor="let buddy of buddies">
    <ion-item *ngIf="buddy.uid != auth.uid">
      <ion-avatar item-start>
        <img src="{{buddy.photoURL ? buddy.photoURL : 'assets/images/chatterplace.png'}}" onError="this.src='assets/images/chatterplace.png'">
      </ion-avatar>
      <h2>{{buddy.displayName}}</h2>
      <p>{{buddy.userLocation}}</p>
      <ion-avatar (click)="sendRequest(buddy.uid)" item-end>
        <ion-icon name="person-add" color="primary"></ion-icon>
      </ion-avatar>
    </ion-item>
    </div>
  </ion-list>
  <h4 *ngIf="buddies.length == 0 && showMe" class="network-empty">You haven’t added anyone to your network.</h4>
</ion-content>