<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Network</ion-title>
  </ion-navbar>
  <ion-toolbar color='primary'>
    <ion-searchbar (input)="onSearchInput()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <ion-item *ngFor="let req of requests">
      <ion-avatar item-start>
        <img src="{{req.photoURL ? req.photoURL : 'assets/images/chatterplace.png'}}" onError="this.src='assets/images/chatterplace.png'">
      </ion-avatar>
      <h2>{{req.displayName}}</h2>
      <p>{{req.userLocation}}</p>
      <ion-avatar *ngIf="req.isAccepted == 1" item-end>
        <span (click)="acceptReq(req.uid)">Accept</span> &nbsp;&nbsp;
        <span (click)="rejectReq(req.uid)">Reject</span>
      </ion-avatar>
    </ion-item>
  </ion-list>
  <!-- <h4 *ngIf="requests.length == 0 && showMe" class="network-empty">You haven’t added anyone to your network.</h4> -->
  <ion-fab bottom right (click)="goToSearchUser()">
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>