page-discussion-detail {
    h3{
        margin: 6px 0 !important;
    }
    .detail-avt {
        position: absolute;
        top: 10px;
    }
    .detail-item .item-inner{
        margin-left: 50px;
    }
}
